#faq-header-container {
    padding: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#faq-logo-container {
    padding: 10px;
    cursor: pointer;
}

#faq-title-container {
    padding: 10px;
}

#faq-title-container > h1 {
    font-size: 5em;
    line-height: 1.4em;
    color: $black;/*$purple-dark;*/
}

#faq-logo {
    box-shadow: $shadow;
}

.faq-question-header {
    cursor: pointer;
}

.faq-question-header > span {
    font-size: 2.5em;
}

#faq_main {
    width: 100%;
    padding: 30px;
    margin-bottom: 5%;
}

.faq-question-body > span {
    font-size: 1.4em;
}

.faq-accordion {
    box-shadow: $shadow-small;
}
