.post-container {
    transition: 0.2s transform;
}

.post-container:hover {
    transform: scale(1.025);
}

#main-feed {
    margin-bottom: 60px;
    width: 40%;
    margin: 0 auto;
}

#feed-loading-label {
    margin-top: 20px;
    text-align: center;
}

@media only screen and (max-width: 1024px) {
    #main-feed {
        width: 60%;
    }
}

@media only screen and (max-width: 800px) {
    #main-feed {
        width: 80%;
    }

    .post-description {
        font-size: 0.8em;
    }
}