footer {
    max-height: 70px;
    width: 100%;
    margin-top: 20px;
    z-index: 900;
}

.footer-fixed {
    position: fixed;
    bottom: 0;
}

.footer-sticky {
    position: sticky;
    bottom: 0;
}

.footer-container {
    padding: 5px 20px;
    background: #000;
    color: $white-dark;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.footer-contact-label {
    margin: 0 10px;
}