@import "./style.scss";

panel {
  display: grid;
  width: 100%;
  height: 95%;
  margin-top: 5%;
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 3;
  grid-row-end: 8;
}

grid-image {
  display: block;
  width: 100%;
  height: 100%;
  grid-column-start: 3;
  grid-column-end: 8;
  grid-row-start: 2;
  grid-row-end: 10;
}

#fullview {
  display: block;
  width: 100%;
  height: 100%;
}

panelGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 80%;
  width: 100%;
  height: 100%;
}

btn-login {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 0;
  margin: 0;
}

btn-register {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 0;
  margin: 0;
}

#button-radius-right {
  border-radius: 0px 3px 0px 0px;
  height: 100%;
}

#button-radius-left {
  border-radius: 3px 0px 0px 0px;
  height: 100%;
}

panel-content-wrapper {
  background-color: rgba(0, 0, 0, 0.76);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 3px 3px;
}

panel-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

grid-template {
  width: 100vw;
  height: 96vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#fixed-button {
  display: block;
  width: auto;
  height: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 5px;
  padding-top: 5px;
}

#inputfullwidth {
  width: 80%;
  display: block;
}

phantom-div {
  display: block;
  height: calc(1.5em + 0.75rem + 2px);
  width: 80%;
  visibility: hidden;
  margin-bottom: 1rem;
}
