.register-password-invalid {
  border: 3px solid $invalid !important;
}

.register-password-weak {
  border: 3px solid $weak !important;
}

.register-password-medium {
  border: 3px solid $medium !important;
}

.register-password-strong {
  border: 3px solid $strong !important;
}

panel {
  display: grid;
  width: 100%;
  height: 70%;
  margin-top: 23%;
  grid-column-start: 9;
  grid-column-end: 12;
  grid-row-start: 3;
  grid-row-end: 9;
}

grid-logo {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 1;
  grid-row-end: 3;
  margin-right: 20px;
  margin-top: -10px;
}

grid-welcome {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  grid-column-start: 4;
  grid-column-end: 13;
  grid-row-start: 1;
  grid-row-end: 3;
}

grid-welcome h1 {
  font-size: 2.5em;
}

alertMessage {
  margin: auto;
  display: flex;
  width: 75% !important;
  height: 100% !important;
  grid-column-start: 9;
  grid-column-end: 13;
  grid-row-start: 3;
  grid-row-end: 4;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: relative !important;
  margin-left: 0px !important;
  margin-top: 0px !important;
}

@keyframes opac {
  0% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
#animation {
  animation-name: opac;
  animation-duration: 4s;
  animation-fill-mode: forwards;
}

grid-image {
  display: block;
  width: 100%;
  height: 100%;
  grid-column-start: 3;
  grid-column-end: 8;
  grid-row-start: 3;
  grid-row-end: 9;
}

#fullview {
  display: block;
  width: 100%;
  height: 100%;
}

panelGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 20% 80%;
  width: 100%;
  height: 100%;
}

btn-login {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  grid-column-start: 1;
  grid-column-end: 1;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 0;
  margin: 0;
}

btn-register {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
  padding: 0;
  margin: 0;
}

#button-radius-right {
  border-radius: 0px 3px 0px 0px;
  height: 100%;
}

#button-radius-left {
  border-radius: 3px 0px 0px 0px;
  height: 100%;
}

panel-content-wrapper {
  background-color: rgba(0, 0, 0, 0.76);
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  width: 100%;
  height: 100%;
  border-radius: 0px 0px 3px 3px;
}

panel-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

grid-template {
  width: 100vw;
  height: 96vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(10, 1fr);
}

#fixed-button {
  display: block;
  width: auto;
  height: auto;
  padding-left: 25px;
  padding-right: 25px;
  padding-bottom: 5px;
  padding-top: 5px;
}

#inputfullwidth {
  width: 80%;
  display: block;
}

phantom-div {
  display: block;
  height: calc(1.5em + 0.75rem + 2px);
  width: 80%;
  visibility: hidden;
  margin-bottom: 1rem;
}

#faq-header-container {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#faq-logo-container {
  padding: 10px;
  cursor: pointer;
}

#faq-logo {
  box-shadow: $shadow;
}

.form-group {
  margin-bottom: 0.75rem;
}

@media screen and (max-width: 1100px) {
  alertMessage {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 4;
    width: 100% !important;
  }
  grid-image {
    display: none;
  }

  panel {
    display: grid;
    width: 100%;
    height: 70%;
    margin-top: 23%;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 3;
    grid-row-end: 9;
  }
}

@media screen and (max-width: 800px) {
  grid-image {
    display: none;
  }

  panel {
    display: grid;
    width: 100%;
    height: 70%;
    margin-top: 23%;
    grid-column-start: 4;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 9;
  }
}

@media screen and (max-width: 600px) {
  alertMessage {
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 8;
    grid-row-end: 10;
    width: 100% !important;
  }

  grid-image {
    display: none;
  }

  grid-welcome {
    display: none;
  }

  panel {
    display: grid;
    width: 100%;
    height: 70%;
    margin-top: 23%;
    grid-column-start: 3;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 9;
  }

  grid-logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    grid-column-start: 5;
    grid-column-end: 9;
    grid-row-start: 2;
    grid-row-end: 4;
    margin: auto !important;
  }

  @media screen and (max-width: 500px) {
    grid-image {
      display: none;
    }

    grid-welcome {
      display: none;
    }

    panel {
      display: grid;
      width: 100%;
      height: 70%;
      margin-top: 23%;
      grid-column-start: 2;
      grid-column-end: 12;
      grid-row-start: 3;
      grid-row-end: 9;
    }

    grid-logo {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 2;
      grid-row-end: 4;
      margin-top: -10px;
    }
  }

  @media screen and (max-width: 500px) and (max-height: 850px) {
    alertMessage {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 9;
      grid-row-end: 11;
      width: 100% !important;
    }

    grid-template {
      width: 100vw;
      height: 100vh;
    }
    .footer-fixed {
      display: none;
    }

    grid-image {
      display: none;
    }

    grid-welcome {
      display: none;
    }

    panel {
      display: grid;
      width: 100%;
      height: 70%;
      margin-top: 0%;
      grid-column-start: 2;
      grid-column-end: 12;
      grid-row-start: 4;
      grid-row-end: 10;
    }

    grid-logo {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 2;
      grid-row-end: 4;
      margin: auto !important;
    }
  }

  @media screen and (max-width: 500px) and (max-height: 800px) {
    alertMessage {
      grid-column-start: 4;
      grid-column-end: 10;
      grid-row-start: 9;
      grid-row-end: 11;
      width: 100% !important;
    }

    grid-image {
      display: none;
    }

    grid-welcome {
      display: none;
    }

    panel {
      display: grid;
      width: 100%;
      height: 70%;
      margin-top: 0%;
      grid-column-start: 2;
      grid-column-end: 12;
      grid-row-start: 3;
      grid-row-end: 11;
    }

    grid-logo {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 1;
      grid-row-end: 3;
      margin: auto !important;
    }
  }

  @media screen and (max-height: 550px) {
    alertMessage {
      grid-column-start: 5;
      grid-column-end: 9;
      grid-row-start: 9;
      grid-row-end: 11;
      width: 100% !important;
    }

    .footer-fixed {
      display: none;
    }
  }

  @media screen and (max-width: 450px) {
    .footer-fixed {
      display: none;
    }
    alertMessage {
      margin: auto;
      display: flex;
      width: 80% !important;
      height: 100%;
      grid-column-start: 2;
      grid-column-end: 12;
      grid-row-start: 9;
      grid-row-end: 10;
      text-align: center;
      justify-content: center;
      align-items: center;
      position: relative !important;
      margin: auto !important;
    }
  }
}
