#navbar {
    padding: 0px 50px;
}

#username {
    margin-left: 10px;
}

#navbar-parent {
    width: 100%;
}

#navbar-search {
    max-width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#nav-filter-button {
    margin-left: 10px;
}

@media only screen and (max-width: 580px) {
    .navbar-nav {
        margin: 0 auto !important;
    }
    #navbar-parent {
        width: 80%;
    }
}

// #navbar-parent {
//     display:none;
// }