@import "./style.scss";

#profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 25px;
}

#profile-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#bio-container-profile {
    margin: 0;
    width: 40%;
    margin-top: 30px;
}

.photo-border {
    width: 192px;
    height: 192px;
    border: 1px solid #000000;
}

#profile-username {
    margin-left: 20px;
    width: 100%;
}

.profile-bio-button {
    margin-left: 5%;
}

#bio-button {
    float: right;
}

#bio-text-container {
    background: #bddff5;
    padding: 10px;
}