#profile-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 25px;
}

#profile-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#bio-container-provider {
    margin-top: 30px;
    width: 40%; 
}

.photo-border {
    width: 192px;
    height: 192x;
    border: 1px solid #000000;
}

.profile-bio-button {
    margin-left: 5%;
}

#bio-button {
    float: right;
}

#bio-text-container {
    background: #bddff5;
    padding: 10px;
}

#horizontal-line {
    border: 1px solid $white-darker;
}

#provider-profile-name-credibility {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}