html,
body {
  overflow: auto;
}

.settings-tab {
  width: 40%;
  margin: 0 auto;
}

#photo-container {
  display: block;
  position: relative;
  margin: auto;
}

#photo-with-button {
  width: 256px;
  height: 256px;
  margin: auto;
  position: relative;
  border: 1px solid $black;
  background-color: $white;
}

#password-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  margin-top: 20px;
}

#bio-container {
  position: relative;
  margin-bottom: 10px;
  margin-left: 20%;
  margin-top: 30px;
  width: 60%;
}

#settings-button {
  position: absolute;
  top: 0;
  right: 0;
}

#account-settings-container {
  padding: 10px;
}

#bio-button {
  float: right;
}

#bio-text-container {
  background: #bddff5;
  padding: 10px;
}

#pass-button {
  margin-left: 15%;
}

#preferences-settings-container {
  padding: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#preferences-settings-search {
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#preferences-settings-search-button {
  margin-left: 10px;
}

.preference-provider {
  width: 100%;
  background: $white;
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: $shadow-small;

  margin: 2%;
}

.preference-provider img {
  margin: 1%;
}

.preference-provider-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.preference-provider-info p {
  margin-left: 45%;
  width: 100%;

  font-size: 2em;
}

.preference-provider-info p:first-child {
  font-weight: bold;
}

#settings-save-btn {
  margin-left: 90%;
  width: 10%;
}

.photo-border {
  border: 1px solid #000000;
}

#formmargin {
  margin-bottom: 0;
}

.settings-button {
  margin-left: 10px;
}

.tab-custom-container {
  width: 100%;
  height: 100%;
  background-color: $white;
  padding: 20px;
  min-height: 100%;
}

#settings-container {
  padding: 5%;
  position: relative;
}

.subscribe-form {
  margin-right: 20px;
}

#settings-preferences-loading {
  margin: 20px 0;
}

#btnBio {
  position: absolute;
  right: 0px;
  top: 0px;
}

.noSizable {
  resize: none;
}

.password-container-row {
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

alertMessage {
  margin: auto;
  display: flex;
  position: absolute;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 398px;
  height: 65px;
  margin-left: calc(30%);
  margin-top: -5%;
}
