@import "./style.scss";

html, body {
    overflow: auto;
}

.settings-tab {
    width: 40%;
    margin: 0 auto;
}

#photo-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10%;
    
}

#password-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 10%;
}

#bio-container {
    margin-bottom: 10px;
    margin-left: 20%;
    margin-top: 10%;
    width: 60%;
}

.settings-button {
    margin-left: 5%;
}

#account-settings-container {
    background: #cdd1cc94;
    margin: 5% 10%;
    padding: 10px;
}

#bio-button {
    float: right;
}

#bio-text-container {
    background: #bddff5;
    padding: 10px;
}

#pass-button {
    margin-left: 15%;
}

#preferences-settings-container {
    background: #cdd1cc94;

    padding: 10px;
    margin: 5% 10%;
}

.preference-provider {
    background: #ff9900;
    display: flex;
    flex-direction: row;
    align-items: center;

    margin: 2%;
}

.preference-provider img {
    margin: 1%;
}


.preference-provider-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.preference-provider-info p {
    margin-left: 45%;
    width: 100%;

    font-size: 2em;
}

.preference-provider-info p:first-child {
    font-weight: bold;
}

#settings-save-btn {
    margin-left: 90%;
    width: 10%;
}