$white-dark: #f2f2f2;
$white-darker: #dddddd;
$white: #fff;
$black: #000;
$gray: rgba(0, 0, 0, 0.76);
$green-dark: #00aa00;
$red-dark: #aa0000;
$purple-dark: #4b0061;
$orange: #ff8800;
$theme-colors: (
  "primary": #00A846,
  "danger": #ff4136,
);
$shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
$shadow-small: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 5px 0 rgba(0, 0, 0, 0.19);

@import "~bootstrap/scss/bootstrap.scss";

::selection {
  color: $white !important;
  background: #00A846;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  background: $white-dark;
}

img {
  user-select: none;
}

.pointer {
  cursor: pointer;
}

.anchor-asis {
  text-decoration: none;
  color: inherit;
}

.anchor-asis:hover,
.anchor-asis:active {
  text-decoration: none;
  color: inherit;
}

.rounded-img {
  border-radius: 50%;
}

.shadow-img {
  box-shadow: $shadow-small;
}

input[type=checkbox] {
  width: 20px;
  height: 20px;
}

#root {
  overflow-x: hidden;
}


@import "./faq.scss";
@import "./feed.scss";
@import "./footer.scss";
@import "./landing.scss";
@import "./navbar.scss";
@import "./post.scss";
@import "./profile_provider.scss";
@import "./profile.scss";
@import "./settings.scss";
@import "./setup.scss";
@import "./filter_modal.scss"